#socialslider
	{
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: block;
	padding: 0;
	position: fixed;
	z-index: 100;
	}

* html #socialslider
	{
	position: absolute;
	}

.socialslider-grupa
	{
	float: left;
	}

#socialslider-linki
	{
	float: left;
	width: 75px;
	}

#socialslider-linki img
	{
	width: 32px;
	height: 32px;
	}

#socialslider-ikony
	{
	background: url('images/handle.png') no-repeat right top;
	position: absolute;
	top: -1px;
	width: 32px;
	z-index: 110;
	}

* html #socialslider-ikony
	{
	background: url('images/handle.gif') no-repeat right top;
	}

#socialslider-ikony ul
	{
	background: url('images/handle.png') no-repeat right bottom;
	left: 0;
	position: relative;
	bottom: -10px;
	width: 32px;
	}

* html #socialslider-ikony ul
	{
	background: url('images/handle.gif') no-repeat right bottom;
	}

#socialslider-ikony ul li
	{
	padding: 0 6px 10px 6px;
	width: 20px;
	height: 20px;
	}

#socialslider-ikony ul, #socialslider-linki ul, #socialslider-ikony li, #socialslider-linki li
	{
	display: block;
	list-style: none;
	margin: 0;
	padding:0;
	}

#socialslider-linki li
	{
	padding: 5px;
	text-align: center;
	width: 75px;
	}

#socialslider-linki img
	{
	display: block;
	border: none;
	margin: 0 auto;
	}

#socialslider-linki a
	{
	border: none;
	color: #666;
	font-size: 10px;
	text-decoration: none;
	}

#socialslider-autor a
	{
	font-family: Segoe UI, Tahoma;
	font-size: 10px;
	text-decoration: none;
	color: #2275AD;
	}